@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
  background-color: #e2ecf6;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
}

img {
  width: 175px;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  margin-top: 10px;
}

