@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #001733;
  background-color: #c6d7ec;
  font-family: "Roboto", sans-serif;
}

/********************************** HEADER **********************************/
header,
footer {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
}

img {
  width: 175px;
}

h1 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 10px;
}

/******************************** BLOG POST *********************************/
main {
  padding: 20px 0;
}

.card {
  margin: 15px 30px;
  padding: 20px 10px 10px;

  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0 0 0 / 0.12);
}

article {
  background-color: #fafcff;
}

h2 {
  font-weight: 700;
  font-size: 1.15rem;
}

.post-text {
  margin: 20px 0;
}

.author {
  font-style: italic;
}

a {
  display: block;
  text-align: end;

  color: #3590ff;
  font-size: 0.8rem;
  text-decoration: underline;

  margin-top: 10px;
}

/*********************************** FORM ***********************************/

form {
  color: #fafafa;
  background-color: #3590ff;
  border: 4px solid #001733;
}

label {
  font-weight: 700;
}

input {
  height: 30px;
  color: #001733;
  background-color: #fafafa;

  text-align: left;
  padding: 0 4px;

  border-radius: 5px;
  border: 2px solid #001733;
}

button {
  height: 30px;
  padding: 0 15px;

  background-color: #001733;
  border-radius: 5px;
}

/******************************* EXTRA: HOVER *******************************/
a {
  transition: color 300ms;
}

a:hover {
  color: #001733;
}

button {
  cursor: pointer;
  transition: opacity 300ms;
}

button:hover {
  opacity: 0.8;
}

